[Unit]
Description=Create random background periodically.
After=graphical.target

[Timer]
OnBootSec=30min
OnUnitActiveSec=30min
Unit=random-background.service

[Install]
WantedBy=default.target
